body {
	font-family: 'Oswald', sans-serif;
	color:#fff;
	background:url(../img/wallpaper.jpg) no-repeat @felice-schwarz center top;
	background-size: contain;
	background-attachment:fixed;
	font-weight:300;
}

strong {
	font-weight: 400;
}

a {
	color:@felice-gold;
}
a:hover {
	color:@felice-hellgold;
	text-decoration: none;
}

p {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color:@felice-gold;
}

h1 .label-success,
h3 .label-success,
h1 .label-warning,
h3 .label-warning,
h1 .label-danger,
h3 .label-danger {
    font-size: 0.33em;
    font-weight: 300;
    vertical-align: calc(55.5%);
    padding:0.2em 0.8em 0.2em;
}
h3 .label-success,
h3 .label-warning,
h3 .label-danger {
    font-size: 0.45em;
}

#content h1 {
	margin:1em 0 1.4em;
}

h2 small {
	color:#fff;
	font-weight: 200;
	display:block;
}

h2,
h2.section-headline {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 38px;
	margin-bottom:50px;
	margin-top:60px;
	text-shadow: 2px 2px 3px #000;
	border-bottom:1px solid fade(@felice-gold, 33%);
	padding-bottom:30px
}

h2.section-headline {
	border:none;
	padding-bottom: 0;
	margin-bottom:20px;
}

hr {
	border-color: fade(@felice-gold, 33%);
}

label {
	font-size: 1.4em;
	font-weight:500;
}

.form-control:focus {
	border-color:@felice-gold;
}

table {
	width:100%;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background:fade(@felice-gold, 20%);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	border:none;
}

.table > thead > tr > th {
	font-size: 1.4em;
}

#headerfullwidth {
	padding:0;
	border-bottom:5px solid @felice-dunkelgold;
}

#headerfullwidth .header-background {
	background:url(../img/header-skyline.jpg) no-repeat center @felice-schwarz;
	background-size: cover;
	height:250px;
}

#headerfullwidth .logo {
	margin:0;
	padding:20px;
	background:fade(@felice-schwarz, 80%);
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

#headerfullwidth .logo img {
}

#headerfullwidth .logo h3 {
	display:none;
}
#headerfullwidth .logo h3 span {
	font-size:26px;
}
#topline {
	padding:5px 15px;
	background:@felice-schwarz;
}
#topline .phone a {
	font-size:16px;
	color:@felice-dunkelgold;
	font-weight: 400;
}
#topline .phone a:hover {
	color:@felice-gold;
}
#topline .phone a + a {
	margin-left:15px;
}
#topline .social-media .list-inline {
	margin-bottom: 0;
	margin-top:-8px;
}
#topline .social-media a {
	font-size:24px;
	color:@felice-dunkelgold;
}
#topline .social-media a:hover {
	color:@felice-gold;
}

#navigation {
	margin-top:-28px;
	-webkit-box-shadow: 0 0 15px 0 rgba(175,112,32,1);
	box-shadow: 0 0 15px 0 rgba(175,112,32,1);
}

.navbar-default {
	.gradient(top, @felice-hellgold, @felice-dunkelgold);
	border:none;
}

.navbar-default .nav-justified > li > a {
	font-weight:400;
	font-size:18px;
	color:#fff;
	text-shadow: 2px 2px 1px #000;
	padding:10px 12px;
}

.navbar-default .nav-justified > li > a:hover,
.navbar-default .nav-justified > li > a:active,
.navbar-default .nav-justified > li > a:focus,
.navbar-default .nav-justified > li[class*="current-"] a,
.single-girls #menu-item-50 a {
	color:@felice-schwarz;
	text-shadow:none;
	background:transparent;
}

#navigation + #meteor-slideshow {
	/*margin-top: -20px;*/
}

.nav-tabs {
	border-color:@felice-gold;
	margin-bottom:30px;
}

.nav-tabs > li > a {
	font-size: 1.3em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
	.gradient(top, @felice-hellgold, @felice-dunkelgold);
	color:#fff;
	text-shadow: 2px 2px 1px #000;
	border-color:transparent;
}

.home .textwidget {
	padding-top:75px;
}

.videoteaser {
	margin-top:50px;
}

.videoteaser img {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.videoteaser:hover img {
	-moz-transform: scale(1.05) rotate(3deg);
	-webkit-transform: scale(1.05) rotate(3deg);
	-o-transform: scale(1.05) rotate(3deg);
	-ms-transform: scale(1.05) rotate(3deg);
	transform: scale(1.05) rotate(3deg);
}

#girls,
#girls_mo,
#girls_di,
#girls_mi,
#girls_do,
#girls_fr,
#girls_sa,
#girls_so {
	margin-bottom: 30px;
}

#girls .thumbnail,
#girls_mo .thumbnail,
#girls_di .thumbnail,
#girls_mi .thumbnail,
#girls_do .thumbnail,
#girls_fr .thumbnail,
#girls_sa .thumbnail,
#girls_so .thumbnail, {
    background-color: @felice-schwarz;
    border: none;
    border-bottom:1px solid @felice-gold;
    border-radius: 0;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0;
    transition: border 0.2s ease-in-out 0s;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px 0 @felice-schwarz;
	box-shadow: 0 0 15px 0 @felice-schwarz;
}

#girls .thumbnail > a,
#girls_mo .thumbnail > a,
#girls_di .thumbnail > a,
#girls_mi .thumbnail > a,
#girls_do .thumbnail > a,
#girls_fr .thumbnail > a,
#girls_sa .thumbnail > a,
#girls_so .thumbnail > a {
	width:263px;
	height:394px;
	overflow: hidden;
	display: block;
}

#girls .thumbnail > a > img,
#girls_mo .thumbnail > a > img,
#girls_di .thumbnail > a > img,
#girls_mi .thumbnail > a > img,
#girls_do .thumbnail > a > img,
#girls_fr .thumbnail > a > img,
#girls_sa .thumbnail > a > img,
#girls_so .thumbnail > a > img {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

#girls .thumbnail:hover > a > img,
#girls_mo .thumbnail:hover > a > img,
#girls_di .thumbnail:hover > a > img,
#girls_mi .thumbnail:hover > a > img,
#girls_do .thumbnail:hover > a > img,
#girls_fr .thumbnail:hover > a > img,
#girls_sa .thumbnail:hover > a > img,
#girls_so .thumbnail:hover > a > img {
	-moz-transform: scale(1.033);
	-webkit-transform: scale(1.033);
	-o-transform: scale(1.033);
	-ms-transform: scale(1.033);
	transform: scale(1.033);
	opacity: .9;
}

#girls .thumbnail .caption,
#girls_mo .thumbnail .caption,
#girls_di .thumbnail .caption,
#girls_mi .thumbnail .caption,
#girls_do .thumbnail .caption,
#girls_fr .thumbnail .caption,
#girls_sa .thumbnail .caption,
#girls_so .thumbnail .caption {
    color: @felice-gold;
    padding: 9px;
}

#girls .thumbnail .caption h3,
#girls_mo .thumbnail .caption h3,
#girls_di .thumbnail .caption h3,
#girls_mi .thumbnail .caption h3,
#girls_do .thumbnail .caption h3,
#girls_fr .thumbnail .caption h3,
#girls_sa .thumbnail .caption h3,
#girls_so .thumbnail .caption h3 {
    font-weight: 200;
    margin:0;
}

#girls .status_badge,
#girls_mo .status_badge,
#girls_di .status_badge,
#girls_mi .status_badge,
#girls_do .status_badge,
#girls_fr .status_badge,
#girls_sa .status_badge,
#girls_so .status_badge {
	display:block;
	position:absolute;
	z-index: 999;
	right:15px;
	background:@felice-dunkelgold;
	color:#fff;
	padding:5px;
	text-transform: uppercase;
}

.girl-mainphoto {
	padding-top:20px;
}

.single-girls table td,
.single-girls .list-unstyled.list-inline {
	font-size:16px;
}

.seperator {
	display:block;
	background:@felice-gold;
	height:1px;
	padding:0;
	margin:30px 0 50px;
	opacity: .33;
}

.seperator-small {
	margin:20px 0;
}

article.post {
	background:fade(@felice-schwarz, 80%);
}

article.post .post-text {
	padding:5px 20px;
}

img.membercard {
	max-width:375px;
	width:100%;
	height:auto;
	float:none;
	display:block;
}

.btn-felice {
    background-color: @felice-gold;
    border-color: @felice-dunkelgold;
    color: #fff;
    font-weight: 300;
}
.btn-felice:hover {
    background-color: @felice-dunkelgold;
    border-color: @felice-dunkelgold;
    color: #fff;
    font-weight: 300;
}

#commentform {
	margin-bottom:60px;
}
#commentform #comment,
#commentform input[type="text"] {
	background:fade(@felice-gold, 33%);
	border-color:@felice-dunkelgold;
	color:#fff;
	font-size: 16px;
}
#commentform input[type="text"] {
	border:1px solid @felice-dunkelgold;
	padding:3px 6px;
}
#commentform #comment:focus,
#commentform input[type="text"]:focus {
	border-color: @felice-hellgold;
	-webkit-box-shadow: 0 0 15px 0 rgba(175,112,32,1);
	box-shadow: 0 0 15px 0 rgba(175,112,32,1);
}

#commentform label {
	font-size: 1.2em;
	width:100px;
}

.comment-list {
	padding-left:30px;
}

.comment-list > li + li {
	border-top:1px solid fade(@felice-gold, 33%);
	padding-top:30px;
	margin-top:30px;
}

.comment-list .comment-author .avatar {
	max-width:50px;
	max-height:50px;
	border:1px solid @felice-gold;
	margin-right:10px;
}

.comment-list .comment-author cite.fn {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;

}

.comment-list .commentmetadata {
	padding:10px 0;
}

.comment-list .comment-body > p {
	font-size: 18px;
}

.footer {
	margin-top:60px;
	font-size: 18px;
}

.footer > .container {
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background:fade(@felice-dunkelgold,33%);
	padding:15px 15px 30px;
	text-shadow: 1px 1px 1px #333;
}



/* Small devices (smartphones, 640px and up) */
@media (min-width: 640px) {
	#headerfullwidth .header-background {
		height:350px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#headerfullwidth .header-background {
		height:500px;
	}
	#headerfullwidth .logo h3 {
		display:block;
		color:#fff;
		border-top:1px solid fade(#fff,30%);
		padding-top:15px;
		text-transform: uppercase;
		font-weight: 200;
		line-height: 1.25;
		width:50%;
		margin:-20px auto 0;
	}
	img.membercard {
		max-width:375px;
		height:auto;
		margin-top: -130px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}