/* Meteor Slides */
#meteor-slideshow {
	margin-top:50px;
	padding:0;
	border-radius: 0;
	-webkit-box-shadow: 0 0 15px 0 @felice-gold;
	box-shadow: 0 0 15px 0 @felice-gold;
}
.meteor-slides:before {
	display:none;
}
.meteor-slides:after {
	display:none;
}
.meteor-clip {
	border:15px solid #000;
	outline: 1px ridge @felice-gold;
	outline-offset: 0px;
}
.meteor-slides .meteor-buttons {
	text-align: center;
	background: fade(@felice-schwarz,50%);
	bottom:0;
	margin:0 0 15px;
	padding:8px 0;
	z-index: 9;
}
.meteor-slides .meteor-buttons a {
	display: inline-block;
	float:none;
	background:rgba(0, 0, 0, 0) url(../img/buttons.png) no-repeat scroll left bottom;
}
.meteor-slides .meteor-buttons a:hover,
.meteor-buttons a.activeSlide {
    background: rgba(0, 0, 0, 0) url(../img/buttons.png) no-repeat scroll right bottom;
}

/* Featherlight */
.featherlight-iframe .featherlight-content {
	overflow-y: hidden;
}

/* FlexSlider */
.flexslider {
	border:1px solid @felice-gold;
	background:@felice-gold;
	border-radius: 0;
}
#slider.flexslider {
	background:transparent;
	border:none;
}
#slider.flexslider img {
	border:1px solid @felice-gold;
}
#carousel.flexslider {
	background:@felice-gold;
}

.flex-direction-nav a {
	height:50px;
}

/* Quform */
.iphorm-outer {
	margin-top: 30px;
}
.iphorm-group-title {
	color: @felice-gold;
}
.iphorm-group-wrap + .iphorm-group-wrap {
	margin-top:30px;
}
input.iphorm-element-text {
	width:90%;
	padding:3px 6px !important;
	background:fade(@felice-gold, 33%);
	border-color:@felice-dunkelgold !important;
	color:#fff !important;
	font-size: 16px;
}
input.iphorm-element-text:focus {
	border-color: @felice-hellgold !important;
	-webkit-box-shadow: 0 0 15px 0 rgba(175,112,32,1);
	box-shadow: 0 0 15px 0 rgba(175,112,32,1);
}
.iphorm-input-radio-li > label,
.iphorm-element-spacer > label {
	font-weight: normal;
	font-size:14px;
}
.iphorm-submit-wrap {
	margin-top:30px;
}
.iphorm-edit-form-wrap {
	display:none;
}
button.iphorm-submit-element {
    background-color: @felice-gold !important;
    border:1px solid @felice-dunkelgold !important;
    color: #fff !important;
    font-weight: 300 !important;
    border-radius: 4px;
    padding:10px 15px;
}
button.iphorm-submit-element:hover {
    background-color: @felice-dunkelgold !important;
    border:1px solid @felice-dunkelgold !important;
    color: #fff !important;
    font-weight: 300 !important;
}
button.iphorm-submit-element > span,
button.iphorm-submit-element > span > em {
	background:transparent !important;
	border:none !important;
	color: #fff !important;
	font-size: 18px;
}



/* Small devices (smartphones, 640px and up) */
@media (min-width: 640px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.meteor-slides:before {
		content:"";
		display:block;
		position:absolute;
		bottom:-45px;
		left:-83px;
		width:300px;
		height:331px;
		background:url(../img/villa-felice-schwung.png) no-repeat transparent center;
		background-size: contain;
		z-index: 999;
	}
	.meteor-slides:after {
		content:"";
		display:block;
		position:absolute;
		top:-24px;
		right:-41px;
		width:150px;
		height:166px;
		background:url(../img/villa-felice-schwung2.png) no-repeat transparent center;
		background-size: contain;
		z-index: 999;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#meteor-slideshow {
		margin-left:40px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}